header {
	display: none;
	width: 100%;
	position: sticky;
	inset: 0;
	background: #fff;
	z-index: 10;
	.container {
		width: 95%;
		.header {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 6px 0;
			.logoTxt {
				height: 25px;
			}
			nav {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}
}

footer {
	display: none;
	width: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	z-index: 10;
	.footer {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
	}
}
